//works page style
#work-a {
	.items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.8rem;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
	}

	//each work
	.item {
		background: $main-color;
		position: relative;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: block;
			opacity: 0.9;
			background: inherit;
			transform: scale(2) translateX(-75%) translateY(-70%) rotate(-28deg);
			transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
		}

		&:hover:after {
			transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
		}
	}
}
