//import
@import 'config';
@import 'utilities';
@import 'worksStyle';
//rest
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	line-height: 1.6;
	background: #fff;
}

a {
	text-decoration: none;
	color: $dark-color;
}

ul {
	list-style: none;
}

h2,
h4,
h6 {
	text-transform: uppercase;
}

img {
	width: 100%;
}

// Logo
#logo {
	width: 70px;
	height: 70px;
	color: #fff;
	text-transform: uppercase;
}

// Main Nav
#main-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;

	ul {
		display: flex;
	}

	li {
		padding: 1rem 1.5rem;
	}

	a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
		border-bottom: 3px transparent solid;
		padding-bottom: 0.5rem;
		transition: border-color 0.5s;

		&:hover {
			border-color: $medium-color;
		}

		&.current {
			border-color: $main-color;
		}
	}
}

// Header
#header {
	// Header Home
	&-home {
		background: $bg-img no-repeat center right / cover;
		height: 100vh;
		color: #fff;

		// Header Content
		.header-content {
			text-align: center;
			padding-top: 20%;

			h1 {
				font-size: 4rem;
				line-height: 1.2;
			}
		}
	}

	// Header Inner
	&-inner {
		background: $bg-img no-repeat 20% 30% / cover;
		height: 5.5rem;
		border-bottom: 2px solid $main-color;
		color: #fff;
	}
}

//---------------home sections----------------
#home {
	//home section a :
	&-a {
		.specials {
			display: grid;
			grid-gap: 1rem;
			margin-top: 3rem;
			grid-template-columns: repeat(4, 1fr);

			.fas {
				color: $main-color;
				padding-bottom: 0.4rem;
			} //end
		} //end
	} //end
	//home section b :
	&-b {
		.stats {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			li {
				line-height: 2;
				&.stats-title {
					font-size: 1.5rem;
				}
				&.stats-number {
					font-size: 2rem;
					font-weight: bold;
				}
			} //end
			div {
				padding: 3rem 0;
				&:nth-child(odd) {
					background: $light-color;
				}
				&:nth-child(even) {
					background: $medium-color;
				}
			} //end
		} //end
	} //end
	//home section c
	&-c {
		.process {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 1.5rem;
			text-align: center;

			.process-icon {
				background: $dark-color;
				height: 70px;
				width: 70px;
				line-height: 70px;
				border-radius: 50%;
				color: #fff;
				padding: 2rem;
				text-align: center;
				position: relative;
				transition: all 1s;

				&:hover {
					background: $main-color;
					height: 90px;
					width: 90px;
					line-height: 90px;
					.process-step {
						background: $dark-color;
					}
				}
			}

			.process-step {
				background: $main-color;
				height: 15px;
				width: 15px;
				line-height: 15px;
				border-radius: 50%;
				font-size: 28px;
				color: #fff;
				padding: 1rem;
				text-align: center;
				position: absolute;
				top: 0;
				right: 0;
				transition: all 1s;
			}
		} //end
	} //end
} //end

//---------------about sections----------------

#about {
	&-a {
		.about-info {
			display: grid;
			grid-template-areas:
				'bioImage bio bio'
				'aw1 aw2 aw3';
			grid-gap: 1.2rem;
		}
		.bio-image {
			grid-area: bioImage;
		}
		.bio {
			grid-area: bio;
			border-left: 2px solid $main-color;
			padding: 0.8rem;
		}
		.award-1 {
			grid-area: aw1;
		}
		.award-3 {
			grid-area: aw2;
		}
		.award-3 {
			grid-area: aw3;
		}

		.award-1 .fas,
		.award-2 .fas,
		.award-3 .fas {
			color: $main-color;
			margin: 1rem;
		}
	} //end
	//about progress
	&-b {
		.progress {
			background: $medium-color;
			height: 20px;
			border-radius: 5px;
			margin-bottom: 0.5rem;
			overflow: hidden;
			div {
				background: $main-color;
				height: 100%;
				color: #fff;
				text-align: center;
			}
		} //end
	} //end
	//about logos
	&-c {
		.about-logos {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 2rem;

			img {
				width: 70%;
			}
		}
	} //end
	//about testimonials
	&-d {
		.testimonials {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 0.5rem;
			ul {
				list-style: none;
				display: flex;
				align-items: center;
				margin-top: 1rem;
			}
			p {
				border: 1px solid $medium-color;
				border-radius: 5px;
				padding: 0.5rem;
			}
			img {
				width: 50px;
				height: 50px;
				border-radius: 50px;
				margin-right: 0.5rem;
			}
		}
	} //end
}

// main footer
#main-footer {
	background: $dark-color;
	height: 5rem;
	color: #fff;

	.footer-content {
		display: flex;
		height: 5rem;
		justify-content: space-between;
		align-items: center;

		.social .fab {
			border: 2px #fff solid;
			border-radius: 50%;
			margin-right: 1rem;
			height: 20px;
			width: 20px;
			line-height: 20px;
			text-align: center;
			padding: 0.5rem;

			&:hover {
				background: $main-color;
			}
		}
	}
}
